{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DGeek Weapons</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="{%static 'css/main.css'%}">
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="{% static 'images/logo.png'%}" alt="DGW">
    <p>Global</p>
  </a>
  <p class="device-notification--message">DGW has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
          <img src="{% static 'images/logo.png'%}" alt="DGW">            
            <p>DGW-Forms</p>
          </a> 
          <div style="color: #ffffff; text-align: right;">
    {%if not request.user.is_active%}<a href="/login/" style="text-align: right;color: #ffffff"><button style="background-color: #1d50a3;"><label>Login</label></button></a>&nbsp;&nbsp;&nbsp;{% else %}
    {% if request.user.is_superuser %}Hello MyLord! {% else %}Hi {{request.user.first_name}}!{%endif%}<a href="/" style="text-align: right;color: #ffffff"><button style="background-color: #1d50a3;">Home</button></a>&nbsp;&nbsp;&nbsp;<a href="/logout/" style="text-align: right;color: #ffffff"><button style="background-color: #1d50a3;">Logout</button></a>&nbsp;&nbsp;&nbsp;<a href="/{{form.p_id}}/" style="color: #ffffff"><button style="background-color: #1d50a3;">Preview</button></a>&nbsp;&nbsp;
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
<button id="myBtn" style="background-color: #1d50a3;">Share</button>
<div id="myModal" class="modal">
<div class="modal-content" style="width: 30%;background-color: #1d50a3;">
    <span class="close">&times;</span>
    <input id ="copy-text" type="text" value="https://feedback-forms.herokuapp.com/{{form.p_id}}" style="color: #000; width: 100%;">
    <button id = "copy" style="background-color: #1d50a3;">Copy</button>
  </div>
</div>
<script>
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {   
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
document.getElementById("copy").onclick = function() {
  document.getElementById("copy-text").select();
  document.execCommand('copy');
}
</script>{%endif%}</div>          
          <div class="header--nav-toggle">
            <span></span>
          </div>          
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Responses for {{form.form_name}}</span></li>            
          </ul>
        </nav>
        <ul class="l-main-content main-content" style="overflow: auto;">
          <li class="l-section section section--is-active">
            <div class="intro">             
              <div class="intro--banner">
              <div style="text-align: left;">
                
              </div>
            <div class="about">
              <div class="about--banner">
                             
                {%for i in questions%}
                <div class = "make-float">                
                  <h3 style="color: #ffffff">{{i.ques}}</h3> 
                  <ul>
                    {%for j in i.answer_set.all%}
                    <li>{{j}}</li>
                    {%endfor%}
                  </ul>
                </div> 
                {%endfor%}               
              </div>
               </div>
            </div>
            </div>
          </li> 
          <li  class="l-section section">
            
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active">Responses for {{form.form_name}}</li>
    
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "js/jquery-2.2.4.min.js"%}"><\/script>')</script>
<script src="{% static 'js/functions-min.js'%} "></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

</body>
</html>
