{% load static %}
<!DOCTYPE html>
<html>
<head>
	
	{% block page_title %}

	{% endblock page_title %}

<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
{% block page_context %}

{% endblock page_context %}
<div class = "container">
	<div style="text-align: right; color: blue;">
		{%if not request.user.is_active%}<a href="/login/" style="color:red;"><label>Login</label></a>&nbsp;&nbsp;&nbsp;{% else %}<a href="/logout/" style="color:red;">Logout</a>&nbsp;&nbsp;&nbsp;<a href="/" style="color:red;"><label>All Forms</label></a>&nbsp;&nbsp;&nbsp;<a href="/newform/" style="color:red;"><label>+New Form</label></a>&nbsp;&nbsp;&nbsp;{%endif%}</div>

{% block content %}

{% endblock content %}
</div>
{% block page_scripts %}

{% endblock page_scripts %}

</body>
</html>
