{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DGeek Weapons</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="{%static 'css/main.css'%}">
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="{% static 'images/logo.png' %}" alt="DGW">
    <p>Global</p>
  </a>
  <p class="device-notification--message">Global has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
          <img src="{% static 'images/logo.png'%}" alt="DGW">            
            <p>DGW-Forms</p>
          </a> 
          <div style="position: top-right;color: #ffffff">
    {%if not request.user.is_active%}<a href="/login/" style="text-align: right;color: #ffffff"><button style="background-color: #1d50a3;"><label>Login</label></button></a>{% else %}&nbsp;&nbsp;&nbsp;{% if request.user.is_superuser %}Hello MyLord!&nbsp;<a href="/post/{{name.p_id}}/" style="text-align: right;color: #ffffff"><button style="background-color: #1d50a3;">Responses</button></a>{% elif name.user == request.user  %} Hi Admin!&nbsp;<a href="/post/{{name.p_id}}/" style="text-align: right;color: #ffffff"><button style="background-color: #1d50a3;">Responses</button></a>{%else%}Hi {{request.user.first_name}}!&nbsp;{%endif%}&nbsp;&nbsp;&nbsp;<a href="/" style="text-align: right;color: #ffffff"><button style="background-color: #1d50a3;">Home</button></a>&nbsp;&nbsp;&nbsp;<a href="/logout/" style="text-align: right;color: #ffffff"><button style="background-color: #1d50a3;">Logout</button></a>{%endif%}</div>          
          <div class="header--nav-toggle">
            <span></span>
          </div>          
        </header>
        {%if not request.user.is_active%}
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>Forms</span></li>
            <li><span>Contact</span></li>            
          </ul>
        </nav>
        <ul class="l-main-content main-content" style="overflow: auto;">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>DGeek Weapons <br>is a team of <br>enthusiastic <br>geeks.</h1>
                
                <img src="{% static 'images/introduction-visual.png' %}" alt="Welcome">
              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>Manmeet Kalirawana</h3>
                  <p>Interactive Node Ninja and Competitive Expert</p>
                </a>
                <a href="#0">
                  <h3>Trilok Kaushik</h3>
                  <p>Complier Designer and Enthusiastic Geek</p>
                </a>
                <a href="#0">
                  <h3>Sahil Singla</h3>
                  <p>Enthusiastic Coder and Mr Django of DGW</p>
                </a>
              </div>
            </div>
          </li>

          <li class="l-section section" style="overflow: auto;"> 
            <div class="hire">
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request" action="/{{name.p_id}}/" method="POST">
                {%csrf_token%}
                <div class="work-request--information">
                  <div class="information-name" style="text-align: center;">

                    <label>{{name.form_name}}</label><br>
                    <label>{{name.description}}</label>
                    <br>
                    {%for i in questions %}
                    <label>{{i}}</label><br>
                    <input type = "text" name = "array[]" id = "question0"  required><span class="asterisk_input"></span><br>
                    {%endfor%}
                    
                  <input type="submit" value='submit'> 
                  </div>
                </div>                
              </form>

            </div>
          </li>

          <li class="l-section section">
            <div class="contact">
              <div class="contact--lockup">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3510.6425026229012!2d77.32368831464632!3d28.369655982522247!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cdc64b2c8925f%3A0x4261a77cad3718f1!2sSdTech!5e0!3m2!1sen!2sin!4v1515560791165" width="800" height="600" frameborder="0" style="border:0; background-color: #000000" allowfullscreen></iframe>
                <div class="modal">
                  <div class="modal--information">
                    <p>House No. 697, Sector:10, Faridabad</p>
                    <a href="tel:+918745959048">+91 8745959048</a>
                    <a href="tel:+919416790287">+91 9416790287</a>
                    <a href="tel:+919916818721">+91 8816818721</a>
                  </div>
                  <ul class="modal--options">
                    <li><a href="mailto:singlasahil221@gmail.com">Sahil</a></li>
                    <li><a href="mailto:trilokkaushik0@gmail.com">Trilok</a></li>
                    <li><a href="mailto:manmeetrana06@gmail.com">Manmeet</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>          
        </ul>
        {%else%}
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>{{name.form_name}}</span></li>            
          </ul>
        </nav>
        <ul class="l-main-content main-content" style="overflow: auto;">
          <li class="l-section section section--is-active">
               <div class="hire">
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request" action="/{{name.p_id}}/" method="POST">
                {%csrf_token%}
                <div class="work-request--information" style="text-align: right;">
                  <div class="information-name" style="text-align: right;">

                    <label style="">{{name.form_name}}</label><br>
                    <label>{{name.description}}</label>
                    <br>
                    {%for i in questions %}
                    <label>{{i}}</label><br>
                    <input type = "text" name = "array[]" id = "question0"  required><span class="asterisk_input"></span><br>
                    {%endfor%}
                    
                  <input type="submit" value='submit'> 
                  </div>
                </div>                
              </form>

            </div>
          </li>         
        </ul>
        {%endif%}
      </div>
    </div>
  </div>
  {%if not request.user.is_active%}
  <ul class="outer-nav">
    <li class="is-active"><span>Home</span></li>
            <li><span>Forms</span></li>
            <li><span>Contact</span></li>
  </ul>
  {%else%}
  <ul class="outer-nav">
    <li class="is-active">{{name.form_name}}</li>
  </ul>
  {%endif%}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "js/jquery-2.2.4.min.js"%}"><\/script>')</script>
<script src="{% static 'js/functions-min.js'%} "></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

</body>
</html>
