{%extends 'base.html'%}
{%load static%}
<!DOCTYPE html>
<html>
<head>
	{% block page_title %}
	<title>Form: {{name}}</title>
	{% endblock page_title %}
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   </head>
<body>
	{% block content %}
		<div class = "container">
<h1>{{name.form_name}}</h1>	
<h3>{{name.description}}</h3>
<form method="POST" action="/{{form_id}}/">
	{%csrf_token %}
<div class = "main1">
{% for i in questions %}
<div class="required">
<label>{{i.ques}}</label>
{% if i.qtype == '1' %}
<input type="text" name="array[]" placeholder="{{i}}" required><span class="asterisk_input"></span><br>
{% elif i.qtype == '2' %}
<input type="number" name="array[]" placeholder="{{i}}" required><span class="asterisk_input"></span><br>
{% else %}
<input type="date" name="array[]" placeholder="{{i}}" required><span class="asterisk_input"></span><br>
{%endif%}
</div>
{% endfor %}

<button type="submit" class="submit">SUBMIT</button>
</div>
</form>
</div>
{%if response%}
{{response}}
{%endif%}
{% endblock content %}
</body>
</html>
